<div class="card text-center">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div>
                {{item.title}}
            </div>
            <div>
                <div class="dropleft">
                    <span class="fa fa-cog" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                    </span>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" [routerLink]="['/notes', item.id]">Edit</a>
                        <a class="dropdown-item" (click)="remove()">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="text-right">
            <ng-container *ngFor="let tag of item.tags">
                <div class="d-inline btn btn-outline-primary ml-1">{{tag.name}}</div>
            </ng-container>
        </div>
        <hr>
        <h5 class="card-title text-left">{{item.description}}</h5>
        <ul class="list-group text-left mb-1" *ngFor="let position of item.positions">
            <li class="list-group-item" [ngStyle]="position.done && {'text-decoration': 'line-through'}">{{position.text}}</li>
        </ul>
    </div>

    <div class="card-footer text-muted">
        <div class="d-flex justify-content-between" (click)="showComments()">
            <div>
                <i class="fa fa-comments mr-2" aria-hidden="true"></i>
                <span class="badge badge-pill badge-primary">{{item.comments.length}}</span>
            </div>
            <div>
                Created by: {{item.author.name | titlecase}}
            </div>
        </div>
    </div>

    <div class="card-body" *ngIf="comments">
        <div class="text-left">
            <ng-container *ngFor="let comment of item.comments">
                <div class="card mb-1">
                    <div class="card-body">
                        <div class="card-text" [innerHTML]="comment.text"></div>
                        <div class="text-right text-muted font-italic">
                            <span class="fa fa-trash" *ngIf="comment.author_id === userId"></span><br>
                            {{comment.author}} (Timestamp)!!!
                        </div>

                    </div>
                </div>
            </ng-container>
            <app-add-new-comment [noteId]="item.id" (reloadComments)="reloadComments($event)"></app-add-new-comment>
        </div>
    </div>
</div>
