<ng-container [ngSwitch]="formStep" *ngIf="!loading else Loading;">
    <ng-container *ngSwitchCase="formSteps.CREATE">
        <app-basic-note-form (createNote)="createNote($event)" [data]="note" [tags]="tags" [edit]="false"></app-basic-note-form>
    </ng-container>

    <ng-container *ngSwitchCase="formSteps.MANAGE_POSITIONS">
        <app-manage-positions *ngIf="noteId" [positions]="positions" [noteId]="noteId"></app-manage-positions>
    </ng-container>
</ng-container>

<ng-template #Loading>
    <p>Loading</p>
</ng-template>
